.manage-invoices,
.manage-invoices * {
  box-sizing: border-box;
}
.manage-invoices {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.header {
  background: linear-gradient(
    90deg,
    rgba(236, 0, 63, 1) 0%,
    rgba(255, 32, 86, 1) 100%
  );
  padding: 0px 112px 0px 112px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 64px;
  position: relative;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.container {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 295.91px;
  height: 56px;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 56px;
  position: relative;
}
.heading-1 {
  flex-shrink: 0;
  width: 352px;
  height: 36px;
  position: relative;
}
.wild-at-heart-pet-care {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: -2px;
  width: 334px;
}
.paragraph {
  align-self: stretch;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.management-portal {
  color: #ffe4e6;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 273px;
}
.link {
  flex-shrink: 0;
  width: 308px;
  height: 20px;
  position: relative;
}
.switch-to-client-view {
  color: #ffe4e6;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 308px;
}
.navigation {
  background: #ffffff;
  border-style: solid;
  border-color: #e2e8f0;
  border-width: 0px 0px 0.8px 0px;
  padding: 0px 112px 0.8px 112px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 46.4px;
  position: relative;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.container4 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 45.6px;
  position: relative;
}
.link2 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 123.47px;
  height: 45.6px;
  position: relative;
}
.icon2 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.dashboard {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.link3 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 158.75px;
  height: 45.6px;
  position: relative;
}
.icon3 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.service-requests {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.link4 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 122.33px;
  height: 45.6px;
  position: relative;
}
.icon4 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.employees {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.link5 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 112.04px;
  height: 45.6px;
  position: relative;
}
.icon5 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.schedule {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.link6 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 97.39px;
  height: 45.6px;
  position: relative;
}
.icon6 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.clients {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.link7 {
  border-style: solid;
  border-color: #ff2056;
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 105.69px;
  height: 45.6px;
  position: relative;
}
.icon7 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.invoices {
  color: #ec003f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.invoices2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1216px;
  margin: 32px auto 40px;
  position: relative;
}
.container5 {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 59.99px;
  position: relative;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 237.25px;
  height: 59.99px;
  position: relative;
}
.heading-12 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 31.99px;
  position: relative;
}
.invoices3 {
  color: #0f172b;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  position: relative;
  flex: 1;
}
.paragraph2 {
  flex-shrink: 0;
  width: 399px;
  height: 24px;
  position: relative;
}
.generate-and-track-client-invoices {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.be {
  background: #ff2056;
  border-radius: 8px;
  flex-shrink: 0;
  width: 146.05px;
  height: 36px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 12px;
}
.icon8 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.create-invoice {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}
.container7 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.fe {
  background: linear-gradient(
    135deg,
    rgba(240, 253, 244, 1) 0%,
    rgba(220, 252, 231, 1) 100%
  );
  border-radius: 14px;
  border-style: solid;
  border-color: #b9f8cf;
  border-width: 0.8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.b-0 {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container8 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.paragraph3 {
  flex-shrink: 0;
  position: relative;
}
.total-revenue {
  color: #008236;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
.paragraph4 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._0-00 {
  color: #0d542b;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  position: relative;
}
.icon9 {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.fe2 {
  background: linear-gradient(
    135deg,
    rgba(254, 252, 232, 1) 0%,
    rgba(254, 249, 194, 1) 100%
  );
  border-radius: 14px;
  border-style: solid;
  border-color: #fff085;
  border-width: 0.8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.b-02 {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container9 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.pending {
  color: #a65f00;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
._0-002 {
  color: #733e0a;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  position: relative;
}
.icon10 {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.fe3 {
  background: linear-gradient(
    135deg,
    rgba(254, 242, 242, 1) 0%,
    rgba(255, 226, 226, 1) 100%
  );
  border-radius: 14px;
  border-style: solid;
  border-color: #ffc9c9;
  border-width: 0.8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.overdue {
  color: #c10007;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
._0-003 {
  color: #82181a;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  position: relative;
}
.icon11 {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.fe4 {
  background: #ffffff;
  border-radius: 14px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.8px;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon12 {
  width: 64px;
  height: 64px;
  position: relative;
  overflow: visible;
}
.b-03 {
  position: relative;
}
.no-invoices-yet {
  color: #62748e;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
}
.b-04 {
  position: relative;
}
.create-your-first-invoice-to-get-started {
  color: #90a1b9;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}