.new-client-request-page,
.new-client-request-page * {
  box-sizing: border-box;
}
.new-client-request-page {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.header {
  background: #ffffff;
  border-style: solid;
  border-color: #e2e8f0;
  border-width: 0px 0px 0.8px 0px;
  padding: 0px 112px 0.8px 112px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 64.8px;
  position: relative;
}
.container {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 195.99px;
  height: 56px;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 56px;
  position: relative;
}
.heading-1 {
  align-self: stretch;
  flex-shrink: 0;
  height: 36px;
  position: relative;
}
.wild-at-heart {
  color: #0f172b;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: -2.4px;
}
.paragraph {
  align-self: stretch;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.pet-care {
  color: #62748e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.2px;
}
.link {
  flex-shrink: 0;
  width: 142.85px;
  height: 20px;
  position: relative;
}
.switch-to-management {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -0.2px;
}
.navigation {
  background: #ffffff;
  border-style: solid;
  border-color: #e2e8f0;
  border-width: 0px 0px 0.8px 0px;
  padding: 0px 112px 0.8px 112px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 46.4px;
  position: relative;
}
.container4 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 45.6px;
  position: relative;
}
.link2 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 123.47px;
  height: 45.6px;
  position: relative;
}
.icon2 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.dashboard {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.link3 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 95.4px;
  height: 45.6px;
  position: relative;
}
.icon3 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.profile {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.link4 {
  border-style: solid;
  border-color: #ff2056;
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 137.21px;
  height: 45.6px;
  position: relative;
}
.icon4 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.new-request {
  color: #ec003f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.link5 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 99.86px;
  height: 45.6px;
  position: relative;
}
.icon5 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.history {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.link6 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 105.69px;
  height: 45.6px;
  position: relative;
}
.icon6 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.invoices {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.service-request {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 32px auto 40px;
  padding: 0 112px;
}
.container5 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 672px;
  height: 59.99px;
  position: relative;
}
.heading-12 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 31.99px;
  position: relative;
}
.new-service-request {
  color: #0f172b;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  position: relative;
  flex: 1;
}
.paragraph2 {
  align-self: stretch;
  flex-shrink: 0;
  height: 24px;
  position: relative;
}
.submit-a-request-for-pet-care-services {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1.99px;
  width: 602px;
}
.fe {
  background: #ffffff;
  border-radius: 14px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.8px;
  padding: 24px 0px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 672px;
  height: 499.6px;
  position: relative;
}
.n-0 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 622.4px;
  position: relative;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 50px;
  position: relative;
}
.primitive-label {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 14px;
  position: relative;
}
.select-pet {
  color: #0a0a0a;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  position: relative;
  width: 464px;
}
.primitive-button {
  background: #f3f3f5;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.8px;
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 36px;
  position: relative;
}
.primitive-span {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 548px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.choose-a-pet {
  color: #717182;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}
.icon7 {
  opacity: 0.5;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.service-type {
  color: #0a0a0a;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  position: relative;
  width: 563px;
}
.primitive-span2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 514px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.choose-a-service {
  color: #717182;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}
.icon8 {
  opacity: 0.5;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.container7 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container8 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 50px;
  position: relative;
}
.date {
  color: #0a0a0a;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  position: relative;
  width: 297px;
}
.we {
  background: #f3f3f5;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.8px;
  padding: 0.8px;
  align-self: stretch;
  flex-shrink: 0;
  height: 36px;
  position: relative;
  overflow: hidden;
}
.container9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 50px;
  position: relative;
}
.time {
  color: #0a0a0a;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  position: relative;
  width: 303px;
}
.duration-hours {
  color: #0a0a0a;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  position: relative;
  width: 405px;
}
.we2 {
  background: #f3f3f5;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.8px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 36px;
  position: relative;
  overflow: hidden;
}
._1 {
  color: #0a0a0a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 208px;
}
.container10 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 78px;
  position: relative;
}
.special-requests {
  color: #0a0a0a;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  position: relative;
  width: 447px;
}
.sr {
  background: #f3f3f5;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.8px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.any-special-instructions-or-requests {
  color: #717182;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  width: 481px;
}
.container11 {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 52px;
  position: relative;
}
.be {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.8px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 36px;
  position: relative;
}
.cancel {
  color: #0a0a0a;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}
.be2 {
  background: #ff2056;
  border-radius: 8px;
  flex: 1;
  height: 36px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.icon9 {
  width: 16px;
  height: 16px;
  overflow: visible;
  position: relative;
}
.submit-request {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}