.service-request-dashboard,
.service-request-dashboard * {
  box-sizing: border-box;
}
.service-request-dashboard {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.header {
  background: linear-gradient(
    90deg,
    rgba(236, 0, 63, 1) 0%,
    rgba(255, 32, 86, 1) 100%
  );
  padding: 0px 112px 0px 112px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 64px;
  position: relative;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.container {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 295.91px;
  height: 56px;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 373px;
  height: 56px;
  position: relative;
}
.heading-1 {
  align-self: stretch;
  flex-shrink: 0;
  height: 36px;
  position: relative;
}
.wild-at-heart-pet-care {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: -2px;
  width: 483px;
}
.paragraph {
  align-self: stretch;
  flex-shrink: 0;
  height: 20px;
  position: relative;
}
.management-portal {
  color: #ffe4e6;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 354px;
}
.link {
  flex-shrink: 0;
  width: 251px;
  height: 20px;
  position: relative;
}
.switch-to-client-view {
  color: #ffe4e6;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 264px;
}
.navigation {
  background: #ffffff;
  border-style: solid;
  border-color: #e2e8f0;
  border-width: 0px 0px 0.8px 0px;
  padding: 0px 112px 0.8px 112px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 46.4px;
  position: relative;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.container4 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 45.6px;
  position: relative;
}
.link2 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 123.47px;
  height: 45.6px;
  position: relative;
}
.icon2 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.dashboard {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.link3 {
  border-style: solid;
  border-color: #ff2056;
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 158.75px;
  height: 45.6px;
  position: relative;
}
.icon3 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.service-requests {
  color: #ec003f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 39.52px;
  top: 12px;
  width: 141px;
}
.link4 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 122.33px;
  height: 45.6px;
  position: relative;
}
.icon4 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.employees {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.link5 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 112.04px;
  height: 45.6px;
  position: relative;
}
.icon5 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.schedule {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.link6 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 97.39px;
  height: 45.6px;
  position: relative;
}
.icon6 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.clients {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.link7 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px 0px 1.6px 0px;
  padding: 0px 0px 1.6px 0px;
  flex-shrink: 0;
  width: 105.69px;
  height: 45.6px;
  position: relative;
}
.icon7 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 16px;
  top: 14px;
  overflow: visible;
}
.invoices {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 11.8px;
}
.service-requests2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1216px;
  margin: 32px auto 40px;
  position: relative;
}
.container5 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 59.99px;
  position: relative;
}
.heading-12 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 31.99px;
  position: relative;
}
.service-requests3 {
  color: #0f172b;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  position: relative;
  flex: 1;
}
.paragraph2 {
  align-self: stretch;
  flex-shrink: 0;
  height: 24px;
  position: relative;
}
.review-approve-and-assign-service-requests {
  color: #45556c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.fe {
  background: #ffffff;
  border-radius: 14px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.8px;
  padding: 4px 0px 0px 4px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 45.6px;
  position: relative;
}
.k-0 {
  padding: 0px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1206.4px;
  height: 36px;
  position: relative;
}
.be {
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 36px;
  position: relative;
}
.all {
  color: #0a0a0a;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}
.pending {
  color: #0a0a0a;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}
.approved {
  color: #0a0a0a;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}
.denied {
  color: #0a0a0a;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}
.fe2 {
  background: #ffffff;
  border-radius: 14px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0.8px;
  padding: 24px 0px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 199.2px;
  position: relative;
}
.k-02 {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1166.4px;
  height: 149.6px;
  position: relative;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 149.6px;
  position: relative;
}
.container7 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 28px;
  position: relative;
}
.heading-3 {
  flex-shrink: 0;
  width: 1006px;
  height: 28px;
  position: relative;
}
.dog-walking {
  color: #0f172b;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  position: relative;
}
.ln {
  background: #fef9c2;
  border-radius: 8px;
  border-style: solid;
  border-color: #ffdf20;
  border-width: 0.8px;
  padding: 2px 8px 2px 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 62.19px;
  height: 21.59px;
  position: relative;
  overflow: hidden;
}
.pending2 {
  color: #894b00;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
}
.container8 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.client {
  color: #62748e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
.sarah-johnson {
  color: #0f172b;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}
.container10 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.pet {
  color: #62748e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
.max {
  color: #0f172b;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}
.container11 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.date-time {
  color: #62748e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
._2-25-2026-10-00 {
  color: #0f172b;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}
.container12 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.duration {
  color: #62748e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
._1-hour-s {
  color: #0f172b;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}
.container13 {
  background: #f8fafc;
  border-radius: 4px;
  border-style: solid;
  border-color: #e2e8f0;
  border-width: 0.8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.special-requests-please-use-the-front-gate {
  color: #314158;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}
.special-requests-please-use-the-front-gate-span {
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
}
.special-requests-please-use-the-front-gate-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.container14 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 68.58px;
  height: 32px;
  position: relative;
}
.be2 {
  background: #ff2056;
  border-radius: 8px;
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 68.58px;
  position: relative;
}
.review {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
}